[core]
  autocrlf = input
  editor = nvim
[user]
  email = bbraunj@gmail.com
  name = Josh Braun
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[alias]
  st = status
  lg = log --graph --decorate --oneline
  ba = branch -a
  ch = checkout
  a  = add
  d  = diff
  rb = rebase
  rc = rebase --continue
  cm = commit -m
  ca = commit -am
